*{                                                         /* reset */
    padding: 0;        
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}



.white-text{                                              /*general*/
color: white;
}

.blue-text{
    color: #0084FD;
}

.grey-text{
    color:#6E869B
}

.black-text{
    color: black;
}

.button{
    padding-inline: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 20px;
}

.white-button{
    background-color: white;
}

.blue-button{
    background-color: #0084FD;
}

.align{
    display: flex;
    align-items: center;
}

ul{
    list-style-type: none;
}

.font-size-bigger{
    font-size: 1.3rem;
}

.giga-font{
    font-size: 5rem;
}

.bold{
    font-weight: 900;
}




header{                                                    /*header*/
    height: 4.75rem;
    background-color: #0084FD;
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1140px;
    margin-inline: auto;
}

.container .logo{
    height: 100%;
}

.container .logo a{
    display: inline-block;
    display: flex;
    align-items: center;
    height: 100%;
}

header ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1rem;
}

header ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.total-height{
    height: 100%;
}

.hambu{
    display: none;
    height: 100%;
    align-items: center;

}
.hamburger{
    font-size: 2rem;
}

@media (max-width: 768px){
    .container .list{
        display: none;
    }

    .hambu{
        display: flex;
    }

    header .container{
        margin-inline: 2rem;
    }
}
                                               /*main*/

.first-container{                           /* 1st container */                
    display: flex;
    max-width: 1140px;
    margin-inline: auto;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-between;
}

.first-container .card{
    background-color: #B5DDFF;
    margin-top: 1rem;
    border-radius: 1.5rem;
    display: flex;
}

.first-container .big-card{
    flex: 0 0 calc((100% / 3 ) * 2 - 0.6rem);
    flex-wrap: wrap;
}

.big-card div{
    display: flex;
    align-items: center;
}

.small-card{
    flex: 0 0 calc(100% / 3 - 1rem);
    text-align: center;
}

.demo-application{
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
}


.demo-application ul{
    padding-bottom: 4rem;
}

.demo-application ul li{
    margin-left: 1rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    line-height: 2rem;
}


.phone{
    display: flex;
    height: 100%;
    flex: 0 0 50%;
    justify-content: center;
    align-items: end;
}

.phone img{
    width: 250px;
    align-self: end;
}

.phone-button a{
    text-decoration: none;
    word-spacing: 0.2rem;
    letter-spacing: 0.2rem;
    padding-inline: 3rem;
}

.small-card li{
    margin-top: 2rem;
    line-height: 2rem;
}

.small-card ul{
    margin-inline: 2rem;
    padding-bottom: 1rem;
}

@media (max-width:778px){
    .first-container .card{
        flex-wrap: wrap;
    }

    .demo-application{
    flex: 1 1 100%;
    }

    .phone{
    flex: 1 1 100%;
    align-items: start;
    justify-content: start;
    }

    .phone img{
    width: 55%;
    height: auto;
    align-self: start;
    }

    .first-container .big-card{
    flex: 0 0 calc((96% / 3 ) * 2);
    }

    .first-container{
    justify-content: space-around;
    }

}

@media (max-width:480px){
    .first-container .big-card{
        flex: 0 0 100%;
    }

    .small-card{
        flex: 0 0 100%
    }

    .demo-application{
        flex: 1 1 100%;
        }

    .phone{
        justify-content: center;
        }
    
    .demo-application ul{
            padding-bottom: 4rem;
            text-align: center;
     }

    .first-container{
        margin-inline: 1rem;
    }

    .demo-application{
        margin-inline: 2rem;
    }
}


.second-container {        /* Second Container */
    margin-top: 4rem;
    padding-top: 4rem;
    background-color: #9792E4;
    height: 600px;
}

.mid-box{
    background-color: yellow;
    max-width: 800px;
    margin-inline: auto;
    height: 400px;
    margin-top: 1rem;
}