*{                                                         /* reset */
    padding: 0;        
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}



.white-text{                                              /*general*/
color: white;
}

.blue-text{
    color: #0084FD;
}

.grey-text{
    color:#6E869B
}

.black-text{
    color: black;
}

.button{
    padding-inline: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 20px;
}

.white-button{
    background-color: white;
}

.blue-button{
    background-color: #0084FD;
}

.align{
    display: flex;
    align-items: center;
}

ul{
    list-style-type: none;
}

.font-size-bigger{
    font-size: 1.3rem;
}

.giga-font{
    font-size: 5rem;
}

.font-size-little{
    font-size: 0.8rem;
}

.bold{
    font-weight: 900;
}

.thin{
    font-weight: 300;
}

.line-height-bigger{
    line-height: 1.5rem;
}

.italic{
    font-style: italic;
}

.font-smaller{
    font-size: 0.9rem;
}

.font-bigger{
    font-size: 1.1rem;
}

.gap-down{
    padding-bottom: 2rem;
}

.weight-mid{
    font-weight: 550;
}

.margin-top{
    margin-top: 2rem;
}

.grosso{
    font-size: 3rem;
}

.viola{
    color: #9792E4;
}

.double-rem{
    font-size: 1.5rem;
}

.margin-top-small{
    margin-top: 1rem;
}

.line-height-giga{
    line-height: 3rem;
}

.margin-top-giga{
    margin-top: 4rem;
}

header{                                                    /*header*/
    height: 4.75rem;
    background-color: #0084FD;
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1140px;
    margin-inline: auto;
}

.container .logo{
    height: 100%;
}

.container .logo a{
    display: inline-block;
    display: flex;
    align-items: center;
    height: 100%;
}

header ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1rem;
}

header ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.total-height{
    height: 100%;
}

.hambu{
    display: none;
    height: 100%;
    align-items: center;

}
.hamburger{
    font-size: 2rem;
}

@media (max-width: 768px){
    .container .list{
        display: none;
    }

    .hambu{
        display: flex;
    }

    header .container{
        margin-inline: 2rem;
    }
}
                                               /*main*/

.first-container{                           /* 1st container */                
    display: flex;
    max-width: 1140px;
    margin-inline: auto;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-between;
}

.first-container .card{
    background-color: #B5DDFF;
    margin-top: 1rem;
    border-radius: 1.5rem;
    display: flex;
}

.first-container .big-card{
    flex: 0 0 calc((100% / 3 ) * 2 - 0.6rem);
    flex-wrap: wrap;
}

.big-card div{
    display: flex;
    align-items: center;
}

.small-card{
    flex: 0 0 calc(100% / 3 - 1rem);
    text-align: center;
}

.demo-application{
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
}


.demo-application ul{
    padding-bottom: 4rem;
}

.demo-application ul li{
    margin-left: 1rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    line-height: 2rem;
}


.phone{
    display: flex;
    height: 100%;
    flex: 0 0 50%;
    justify-content: center;
    align-items: end;
}

.phone img{
    width: 250px;
    align-self: end;
}

.phone-button a{
    text-decoration: none;
    word-spacing: 0.2rem;
    letter-spacing: 0.2rem;
    padding-inline: 3rem;
}

.small-card li{
    margin-top: 2rem;
    line-height: 2rem;
}

.small-card ul{
    margin-inline: 2rem;
    padding-bottom: 1rem;
}

@media (max-width:778px){
    .first-container .card{
        flex-wrap: wrap;
    }

    .demo-application{
    flex: 1 1 100%;
    }

    .phone{
    flex: 1 1 100%;
    align-items: start;
    justify-content: start;
    }

    .phone img{
    width: 55%;
    height: auto;
    align-self: start;
    }

    .first-container .big-card{
    flex: 0 0 calc((96% / 3 ) * 2);
    }

    .first-container{
    justify-content: space-around;
    }

}

@media (max-width:480px){
    .first-container .big-card{
        flex: 0 0 100%;
    }

    .small-card{
        flex: 0 0 100%
    }

    .demo-application{
        flex: 1 1 100%;
        }

    .phone{
        justify-content: center;
        }
    
    .demo-application ul{
            padding-bottom: 4rem;
            text-align: center;
     }

    .first-container{
        margin-inline: 1rem;
    }

    .demo-application{
        margin-inline: 2rem;
    }
}


.second-container {        /* Second Container */
    margin-top: 4rem;
    padding-top: 4rem;
    background-color: #9792E4;
}

.second-container .mid-box{
    margin-inline: auto;
    width: 900px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.mid-box-left{
    flex: 0 0 50%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second-container .mid-box img{
    width: 90%;
}

.mid-box-left li{
    color: white;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.mid-box-left ul{
    margin-top: 3rem;
}

.mid-box-right{
    flex: 0 0 50%;
    display: flex;
    align-items: end;
}

.mid-box-right img{
    margin-top: 2rem;
    width: 70%;
}

.pillolone{
    background-color: white;
    flex: 0 0 80%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pillolone .center{
   text-align: center;
   margin-top: 2rem;
   margin-inline: 2rem;
}

.pillolone a{
   background-color: #e49e92;
   border-radius: 50px;
   padding-inline: 14px;
   padding-top: 9px;
   padding-bottom: 9px;
}

@media (max-width:778px){
    .second-container .mid-box{
        width: 100%;
    }

    .mid-box-left{
        flex: 1 1 100%;
        margin-inline: 1rem;
    }

    .mid-box-left h2{
        text-align: center;
        font-size: 2rem;
    }

    .mid-box-right{
        margin-top: 3rem;
        flex: 1 1 100%;
        margin-inline: 1rem;
    }

    .pillolone{
        flex: 1 1 100%;
    }

    .pillolone img{
        width: 60%;
    }

    .pillolone li{
        margin-inline: 5rem;
    }
}

@media (max-width:480px){
    .mid-box-left img{
        width: 60%;
    }
}


.third-container{             /* 3rd container */  
    margin-top: 4rem;
}

.third-container .mid-box{
    display: flex;
    max-width: 1140px;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
}

.titolone{
    font-size: 3rem;
    color: #9792E4;
}

.fuori-card{
    word-spacing: 0.2rem;
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 2rem;
}

.third-container .card{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    background-color: #9792E4;
    border-radius: 40px;
}

.third-container .card img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    margin-top: 2rem;
    margin-inline: 1.5rem;
}

.card .testimonial-text{
    padding-top: 4rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
}

.card span{
    padding-top: 2rem;
    display: inline-block;
    padding-bottom: 5rem;
}

.third-container .mid-box:last-child{
    padding-bottom: 6rem;
}


@media (max-width:480px){
    .third-container .card{
        flex-wrap: wrap;
        justify-content: center;
    }

    .third-container .card p{
        text-align: center;
    }

    .third-container .card span{
        text-align: center;
        margin-inline: auto;
        width: 100%;
    }
}


.fourth-container{                            /* fourth section */
    background-color: #9792E4;
}

.fourth-container .titolone{
    color: white;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.fourth-container .mid-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    max-width: 1140px;
    margin-inline: auto;
}

.fourth-container .card{
    display: flex;
    flex: 0 0 calc(33% - 1rem);
    background-color: white;
    border-radius: 30px;
}

.fourth-container ul{
    margin-inline: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.violapro{
    background-color: #9792E4;
    padding-inline: 3rem;
    text-decoration: none;
    color: white;
}

.fourth-container ul:last-child{
    padding-bottom: 3rem;
}

.fourth-container .mid-box:last-child{
    padding-bottom: 3rem;
}


@media (max-width:768px){
    .fourth-container .card{
        flex: 0 1 calc(50% - 1rem);
        justify-content: space-around;
        margin-inline: auto;
    }

    .fourth-container .mid-box{
        gap: 1rem;
        padding-inline: 1rem;
    }
}


@media (max-width:480px){
    .fourth-container .card{
        flex: 0 1 100%;
    }

    .fourth-container .card li{
        margin-inline: 2.5rem;
    }

    .fourth-container .card ul:last-child{
        padding-bottom: 5rem;
    }
}

.fifth-container{                 /*5th container */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 4rem;
    max-width: 1140px;
    margin-inline: auto;
    padding-bottom: 6rem;
}

.fifth-container .left-section{
    flex: 0 0 70%;
}

.fifth-container .right-section{
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.fifth-container .right-section img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
}

.titolino{
    color: #9792E4;
    font-size: 1.8rem;
    margin-inline: 2rem;
}

.position{
    position: absolute;
    top: -1rem;
    right: 3.5rem;
    color: #9792E4;
    font-size: 5rem;
}

.right-section a{
    background-color: #9792E4;
    text-decoration: none;
    align-self: flex-start;
    margin-left: 2rem;
}